@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play";
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}
.container--products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -1.0555555556rem;
  right: 23%;
  content: url(../img/stick.png);
}

.hero__title-section {
  width: 38%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.9444444444rem;
    height: 17.9444444444rem;
    background: url(../img/Hero_img_tablets.png) center center/contain no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.8888888889rem;
  background: url("../img/Hero_img.svg") right 4% bottom 37% no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.8888888889rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: "play";
  margin-top: 56px;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.6666666667rem;
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.3333333333rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  font-family: "Alegreya Sans";
  line-height: 1.15;
  margin-bottom: 2rem;
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 17%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1.4444444444rem;
}

.menu {
  margin: 0 30px;
  padding-top: 4px;
}
@media screen and (max-width: 768px) {
  .menu__header {
    display: none;
  }
}
.menu--column .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu--color--white .menu__link {
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 0.8888888889rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
}

.pnone-number__text {
  font-family: "play";
  text-decoration: none;
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.logo {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.3333333333rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 8.4444444444rem;
  max-height: 2.7777777778rem;
}

.feature__icon {
  width: 2.5rem;
  height: 2.7777777778rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
}

.feature__icon-img {
  width: 2.2222222222rem;
  height: 2.7777777778rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.3333333333rem 2.6666666667rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #E01F3D;
  color: #fff;
}
.btn:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  background: transparent;
  color: #E01F3D;
}

.form__btns {
  margin-top: 2.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn--close {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn--close .btn__icon {
  width: 1.2222222222rem;
  height: 1.2222222222rem;
  fill: #fff;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-benefits {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-order {
  background: #181818;
}
.section--font-color--white {
  color: #FFF;
}
.section-contacts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-colors {
  background: url(./../../img/Colors.jpg) center center/contain no-repeat;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.8888888889rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  margin-top: 3.8888888889rem;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.1111111111rem;
  }
}
.section__title--white {
  color: #FFF;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.8888888889rem;
}

.headline__subtitle {
  padding: 0 22%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4% 2.6666666667rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5555555556rem 4rem;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5555555556rem 0.8888888889rem;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item::before {
  content: url(../img/benefits_decor.png);
  position: absolute;
  top: 3.1111111111rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding: 0;
}
.benefits__item:last-child {
  padding: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__desc {
  font-size: 0.8888888889rem;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 7.0555555556rem;
  height: 4.2222222222rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.5555555556rem;
  }
}

.reviews {
  width: 100%;
}
.reviews__list {
  position: relative;
  min-height: 19.3333333333rem;
}
.reviews__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.reviews-active {
  opacity: 1;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.3333333333rem 5.9444444444rem 2.3333333333rem 2.3333333333rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 10% 0;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.3888888889rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #292929;
  margin-bottom: 1.3888888889rem;
  margin-top: 1.9444444444rem;
}

.reviews__text {
  font-size: 0.8888888889rem;
  line-height: 1.3;
}

.reviews__about {
  font-size: 1rem;
  font-weight: bold;
  color: #292929;
  margin-top: 1.7222222222rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.8333333333rem;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.3333333333rem;
}
.interactive-avatar-active {
  border-color: #E01F3D;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4.1666666667rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6666666667rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  font-size: 0.8888888889rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 0.8888888889rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1.1111111111rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.8333333333rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input-error {
  border: solid 3px #E01F3D;
  border-radius: 4px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.2777777778rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/checkmark.png) center center/contain no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  font-size: 0.8888888889rem;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link.fixed-menu__link::before {
  background-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1111111111rem 3rem 1.1111111111rem 4.7777777778rem;
  position: bottom;
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.footer__container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .footer__adress {
    margin-top: 1.1111111111rem;
    margin-bottom: 0.6666666667rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.0555555556rem;
  }
}

.contact__map {
  height: 100%;
  background: url(../img/map-desktop.png) center center/contain no-repeat;
}
@media screen and (max-width: 768px) {
  .contact__map {
    background: url(../img/map-tablet.png) center center/contain no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .contact__map {
    background: url(../img/map-phone.png) center center/contain no-repeat;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 0.5555555556rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__elem {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
}

.socials__elem-img {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.socials__elem-img:hover {
  fill: #000;
}

.products__wrap-list {
  overflow: hidden;
  width: 95%;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media screen and (max-width: 768px) {
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.products__preview {
  width: 100%;
  max-width: 25.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .products__img {
    max-width: 17rem;
    max-height: 17rem;
  }
}
@media screen and (max-width: 480px) {
  .products__img {
    max-width: 17rem;
    max-height: 17rem;
  }
}
.products__info {
  margin-left: 3.2777777778rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .products__info {
    margin-left: 0;
  }
}
.products__title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__title {
    text-align: center;
  }
}
.products__desc {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .products__desc {
    text-align: center;
  }
}
.products__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__spec {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__spec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.products__spec-item:not(:first-child) {
  margin-left: 4.7777777778rem;
}
.products__spec-value {
  font-weight: bold;
  color: #000;
}
.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .products__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__price {
  color: #151515;
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 1.2777777778rem;
}

.arrows {
  display: block;
  width: 0.7777777778rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .arrows {
    margin-bottom: 12.2222222222rem;
  }
}

.arrows__img {
  fill: none;
  stroke: black;
  stroke-width: 0.1111111111rem;
  stroke-linecap: round;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fullscreen-menu__close {
  position: absolute;
  top: 2.3333333333rem;
  right: 2.3333333333rem;
}
.fullscreen-menu.open {
  left: 0;
}

.team {
  position: relative;
}
.team--version--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.3333333333rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    margin-left: 0;
  }
}
.team__item:first-child {
  margin-left: 0;
}
.team__content {
  text-align: center;
  font-size: 0.8888888889rem;
  top: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0px;
}
@media screen and (max-width: 768px) {
  .team__content {
    position: relative;
  }
}
.team__content-text {
  min-height: 4.4444444444rem;
  width: 12.2222222222rem;
}
.team__content-title {
  color: #000;
}
.team__member {
  margin-bottom: 1.3888888889rem;
}
.team__title {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #292929;
  font-weight: bold;
  margin-bottom: 0.6111111111rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.modal__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 17.1666666667rem;
  height: 9.7777777778rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__info {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1rem;
}
.modal .error-modal {
  color: #E01F3D;
}