.benefits{
    display: flex;
    padding: 10px 28px;
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;
    
    &::before{
        content: url(../img/benefits_decor.png);
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child{
        padding: 0;
    }

    &:last-child{
        padding: 0;

        &::before{
            display: none;
        }
    }


}