.benefit{
    text-align: center;

}

.benefit__image-wrapper{
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-top: rem(88px);
}

.benefit__icon{
    width: rem(127px);
    height: rem(76px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}