.feature{
    display: flex;
    max-width: rem(152px);
}
.feature__icon{
    width: rem(45px);
    margin-right: rem(7px);
}
.feature__text{
    font-size: rem(16px);
}
.feature__icon-img{
    width: rem(40px);
}