.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) rem(54px) rem(20px) rem(86px);

    @include phones{
        flex-direction: column;
        align-items: center;
        justify-content:center;
        padding: 0;
    }
}
.footer__adress{
    @include phones{
        margin-top: rem(20px);
        margin-bottom: rem(12px);
    }
}

.footer__phone-number{
    @include phones {
        justify-content: center;
        margin-bottom: rem(19px);
    }
}

.contact__map{
    //height: 100%;
    background: url(../img/map-desktop.png) center center / contain no-repeat;
    width: rem(940px);
    height: rem(557px);
    object-fit: cover;
}

.contact__map-img{

    width: 100%;
    height: 100%;

    &::before{
        content:url(../img/map-desktop.png);
        //background:url(../../img/map-desktop.png) center center / contain no-repeat ;
        display: block;
        width: 100%;
        height: 100%;

        @include tablets {
        content:url(../img/map-tablet.png);
        //background:url(../../img/map-tablet.png) center center no-repeat ;
        display: block;
        width: 100%;
        height: 100%;
        }

        @include phones {
            content:url(../img/map-phone.png);
            //background:url(../../img/map-phone.png) center center no-repeat ;
            display: block;
            width: 100%;
            height: 100%;
            }
    }
}

.socials__list{
    display: flex;
}

.socials__item{
    margin-right: rem(10px);

    &:last-child{
        margin-right: 0;
    }
}

.socials__elem{
    width: rem(30px);
    height: rem(30px);
   
}

.socials__elem-img{
    width: 100%;
    height: 100%;
    fill: #b3b3b3;

    &:hover{
        fill:#000;
    }
}
    