.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: rem(26px);
}

.menu{

    &__header{
        @include tablets {
            display: none;
        }
    }
    
    

    margin: 0 30px;
    padding-top: 4px;

    &--column{
        .menu__list{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

    }

    &--color--white{
        .menu__link{
            color: #fff;
            font-size: rem(36px);
            line-height: rem(72px);
        }
    }
}

.phone-number.header__phone-number{
    @include tablets {
        display: none;
    }
}

.menu__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu__item{
    margin-right: rem(16px);
    margin-bottom: 10px;
     
    &:last-child{
        margin-right: 0;
    }
}
.menu__link{
    text-decoration: none; 
    white-space: nowrap;
}

.phone-number{
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 4px;
    //padding-right: rem(132px);
}
.pnone-number__text{
    font-family: "play";
    text-decoration: none;
    white-space: nowrap;
}

.phone-number__icon{
    flex-shrink: 0;
}


.phone-number__icon-elem{
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);
}
.logo{
    width: rem(40px);
    height: rem(40px);
}