.products{

    &__wrap-list{
        overflow: hidden;
    }

    &__list{
        display: flex;
    }


    &__item{
        display: flex;
        flex: 0 0 100%;
    }

    &__preview{
        width: 100%;
        max-width: rem(452px);
    }

    &__info{
        margin-left: rem(59px);
        flex: 1;
    }

    &__title {
        font-weight: 700;
        font-size: rem(36px);
        text-transform: uppercase;
        color: #292929;
        margin-bottom: rem(24px);
    }

    &__desc{
        margin-bottom: rem(27px);
    }

    &__spec{
        display: flex;
        margin-bottom: rem(24px);

        &-item{
            display: flex;
            flex-direction: column;

            &:not(:first-child){
                margin-left: rem(86px);
            }
        }

        &-value{
            font-weight: bold;
            color: #000;
        }
    }

    &__footer{
        display: flex;
        align-items: flex-end;
    }

    &__price{
        color:#151515;
        font-size: rem(36px);
        text-transform: uppercase;
        margin-right: rem(13px);
    }

    }

