.products{

    &__wrap-list{
        overflow: hidden;

        
    }

    &__list{
        display: flex;
    }


    &__item{
        display: flex;
        flex: 0 0 100%;
        
        @include tablets{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__preview{
        width: 100%;
        max-width: rem(452px);
    }

    &__info{
        margin-left: rem(59px);
        flex: 1;
        
    }

    &__title {
        font-weight: 700;
        font-size: rem(36px);
        text-transform: uppercase;
        color: #292929;
        margin-bottom: rem(24px);

        @include tablets{
            text-align: center;
        }
    }

    &__desc{
        margin-bottom: rem(27px);

        @include tablets{
            text-align: center;
        }
    }

    &__spec{
        display: flex;
        margin-bottom: rem(24px);

        @include tablets{
            justify-content: center;
        }

        &-item{
            display: flex;
            flex-direction: column;

            &:not(:first-child){
                margin-left: rem(86px);
            }
        }

        &-value{
            font-weight: bold;
            color: #000;
        }
    }

    &__footer{
        display: flex;
        align-items: flex-end;

        @include tablets{
            justify-content: center;
        }

    

    }
    &__price{
        color:#151515;
        font-size: rem(36px);
        text-transform: uppercase;
        margin-right: rem(23px);
    }

}
.arrows{
    display: block;
    width: rem(14px);
    justify-content: center;
    align-items: center;


   
}

.arrows__img{
    fill: none;
    stroke: black;
    stroke-width: rem(2px);
    stroke-linecap: round;
}