.section{
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-order{
        background: #181818;
    }

    &--font-color--white{
        color: #FFF;

    }
}

.section__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    &--white{
        color: #FFF;
    }
}