.team{
    position: relative;


    &--version--desktop{
        display: flex;
        justify-content: space-between;

        @include tablets{
            display: none;
        }

        @include phones{
            display: none;
        }

    }
    &--version--mobile{
        flex-direction: column;
        align-items:center;
        display: none;

        @include tablets{
            display: flex;
        }

        @include phones{
            display: flex;
        }

    }

    

    &__item{
        display: flex;
        width: rem(222px);
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: rem(20px);

        @include tablets{
            margin-left: 0;
        }

        @include phones{
            margin-left: 0;
        }
        

        &:first-child{
            margin-left: 0;
        }
    }

    &__content{
        text-align: center;
        font-size: rem(16px);
        color: #666666;
        position: absolute;
        top: 100%;
        overflow: hidden;
        transition: 0.3s;
        height: 0px;

        

        &-text{
            min-height: rem(80px);
            width: rem(220px);
        }

        // &-block{
        //     // min-height: 100px;
        //     // display: block;
        // }


        &-title{
            color: #000;
        }
    }

    &__member{
        margin-bottom: rem(25px);
    }

    &__title{
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        color: #292929;
        font-weight: bold;
        margin-bottom: rem(11px);
    }
}

